/* 评论 */
.tk-comments-container {
    font-size: 15px;
}

.pagination__title {
    margin-bottom: 30px;
}

ul.post-tags-meta a {
    color: var(--secondary);
}

/* 评论头部间距 */
.post-footer {
    margin-top: 30px;
    margin-bottom: 30px;
}

/* 评论代码 */
pre[class*="language-"] > code {
    border-left: none !important;
}

code[class*="language-"],
pre[class*="language-"] {
    font-size: 0.9em !important;
    line-height: 1.5 !important;
    text-shadow: none !important;
}
