/* 标签云 */
.terms-tags {
    text-align: center;
}

.terms-tags a {
    border-radius: 30px;
    background: none;
    transition: transform var(--transition-duration) ease;
}

.terms-tags a:hover {
    background: none;
    transform: scale(1.2);
}

.dark .terms-tags a {
    background: none;
}

.terms-tags li {
    margin: 5px;
}
