/* 首页笑脸 */
.profile .profile_inner h1 {
    transition: transform var(--transition-duration) ease;
}

.profile .profile_inner h1:hover {
    transform: scale(1.1);
}

/* 主题切换按钮 */
#theme-toggle svg {
    transition: transform var(--transition-duration) ease;
}

#theme-toggle svg:hover {
    transform: scale(1.2);
}

button#theme-toggle {
    margin: auto 15px;
}

/* 左上角名字 */
.logo a {
    transition: transform var(--transition-duration) ease;
}

.logo a:hover {
    transform: scale(1.06);
}

.logo a img {
    border-radius: 25px;
}

/* 回到顶部按钮 */
.top-link {
    background: var(--entry);
    transition: box-shadow var(--transition-duration) ease, transform var(--transition-duration) ease;
    box-shadow: var(--box-shadow-default);
}

.top-link:hover {
    color: rgb(108, 108, 108);
    transform: scale(1.1);
    box-shadow: var(--box-shadow-hover);
}

.dark .top-link:hover {
    color: rgba(180, 181, 182, .8);
}

/* 时间轴 */
.archive-entry {
    transition: transform var(--transition-duration) ease;
}

.archive-entry:hover {
    transform: scale(1.02);
}

/* 文章卡片 */
.post-entry {
    transition: box-shadow var(--transition-duration) ease, transform var(--transition-duration) ease;
    box-shadow: var(--box-shadow-light);
}

.dark .post-entry {
    box-shadow: var(--box-shadow-default);
}

.post-entry:hover {
    transform: scale(1.02);
}

.dark .post-entry:hover {
    box-shadow: var(--box-shadow-hover);
}

/* 首页按钮 */
.button {
    background: var(--entry);
    transition: box-shadow var(--transition-duration) ease, transform var(--transition-duration) ease;
    box-shadow: var(--box-shadow-default);
}

.button:hover {
    transform: scale(1.1);
    box-shadow: var(--box-shadow-hover);
}
